table{
    border-width: 0.2px;
    border-color: white;
}
td{
    padding: 10px;
}
.sno{
    background-color: aqua;
    color: black;
    font-weight: bolder;
}
.name{
    background-color:chartreuse;
    color: black;
    font-weight: bolder;
}
.salary{
    background-color: darkorange;
    color: black;
    font-weight: bolder;
}
th{
    padding: 10px;
    background-color: cyan;
}